:root {
  --main-green: #93b65b;
  --main-green-hover: #779348;
  --main-gray: #645f5c;
}

.btnCreateNewRegister {
  background-color: var(--main-green);
  border: var(--main-green);
  box-shadow: 2px 1px var(--main-green);
}

.btnCreateNewRegister:hover {
  background-color: var(--main-green-hover);
}

form, label{
  text-decoration: solid;
}

.inputDecoration:focus{
  border: solid var(--main-green);
  box-shadow: 2px  var(--main-green);
}

.incorrectData{
  color: red;
}